<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        max-width: 1000px;
        margin: 20px auto;

        padding: 20px;
        margin: auto;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        margin-left: -20px;
      }

      .logo {
        position: relative;
        width: 200px;
        height: 200px;
        /* border: 1px solid red; */
      }
      .logo img {
        height: auto;
        width: 200px;
      }

      .receipt-number {
        border: 1px solid #000;
        padding: 5px 20px;
        font-size: 0.9em;
      }
      .org-details {
        flex-grow: 1;
        margin: 0 20px;
      }
      .reg-number {
        font-size: 0.7em;
        color: #444;
      }
      .org-name {
        font-size: 1.2em;
        font-weight: bold;
        margin: 5px 0;
      }
      .org-address {
        font-size: 0.7em;
      }
      form {
        margin-top: 20px;
        /* margin-top: 100px; */
      }
      .form-field {
        margin: 20px 0;
        margin-top: 10px;
      }
      input[type="text"] {
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        padding: 5px;
        margin-top: 5px;
        font-weight: 300;
        text-transform: capitalize;
      }
      input[type="text"] {
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        padding: 5px;
        margin-top: 5px;
        font-weight: 300;
        text-transform: capitalize;
      }
      p {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        /* text-transform: capitalize; */
      }
      p::first-letter {
        text-transform: capitalize;
      }
      thead th {
        font-size: 0.8rem;
        font-weight: 700;
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
      }
      tbody td {
        font-size: 0.7rem;
        font-weight: 500;
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
      }
      .signature-section {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .signature-section label {
        font-weight: bold;
        color: rgb(22, 22, 161);
      }
      .amount-box {
        border: 1px solid #000;
        width: 150px;
        height: 40px;
        margin-top: 10px;
      }
      .footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
      }
      .donation-info {
        text-align: center;
        border: 1px solid #000;
        padding: 5px;
        margin: 5px 0;
        font-size: 0.8em;
      }
      label {
        color: rgb(1, 1, 139);
      }
      button {
        margin-top: 1rem;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <!-- <img src="http://localhost:3000/images/AnubhutiLogo.png" alt="" /> -->
        <!-- for server -->
        <img src="http://anubhutivisionss.com/images/AnubhutiLogo.png" alt="" />
      </div>
      <div class="org-details">
        <div class="reg-number">
          Registration No. & Date : 11730/09 - 06 May 2009
        </div>
        <div class="org-name">ANUBHUTI VISION SEVA SANSTHAN</div>
        <div class="org-address">
          68-2 Mayakhedi, Near Omaxe City-I, Bypass Road, Indore, (M.P.)
          India<br />
          Regd. Off. : 203-A, Slice No. 4, Scheme No. 78, Aranya Nagar,<br />
          Indore. Phone: 0731-4050114, Mobile : 98267-44114
        </div>
      </div>
      <div class="receipt-number">
        <div>RECEIPT</div>
        <div>No.: <%= donation.receiptNo %></div>
        <div>Date: <%= new Date(donation.date).toLocaleDateString() %></div>
      </div>
    </div>
    <!-- <hr class="horizontal-line" /> -->
    <form>
      <div class="form-field">
        <label>Received with thanks from M/s.</label>
        <p><%= donation.donorName %></p>
      </div>

      <div class="form-field">
        <label>Aadhar Card / PAN No.</label>
        <p><%= donation.pan || donation.aadhar || 'N/A' %></p>
        <span style="float: right">
          <label>Phone</label>
          <p style="width: 200px"><%= donation.phoneNumber %></p>
        </span>
      </div>

      <div class="form-field">
        <label>Address</label>
        <p><%= donation.address || 'N/A' %></p>
      </div>

      <div class="form-field">
        <label>The sum of Rs. in words</label>
        <p><%= amountInWords %> /-</p>
      </div>

      <div>
        <div class="form-field">
          <label>Purpose</label>
          <p style="width: 60%"><%=donation.purpose %></p>
        </div>
        <div class="amount-box" style="float: right">
          <div style="text-align: center; padding-top: 10px">
            Rs. <%= donation.amount %> /-
          </div>
        </div>
      </div>

      <div class="signature-section">
        <div>
          <div style="text-align: left">
            <label>Payment Mode : </label>
            <span><%=donation.paymentMethod %></span>
          </div>

          <div style="text-align: left">
            <div>
              <label>Accountant / Authorised Person :</label>
              <span> <%= formattedName %> </span>
            </div>
            <div>
              <label>For : </label>
              <span>Anubhuti Vision Seva Sansthan</span>
            </div>
          </div>
        </div>
      </div>

      <div class="donation-info">
        Donation Exempted U/S 80G of IT ACT<br />
        CIT-I/Ind/Tech/80-G/20/2011-12<br />
        PAN No.: AABAA7262L
      </div>

      <div class="footer">
        <a href="https://www.anubhutivisions.org"
          >Visit us: www.anubhutivisions.org</a
        >
        <a href="mailto:anubhutivisionsss@gmail.com"
          >Contact us: anubhutivisionsss@gmail.com</a
        >
      </div>
    </form>

    <!-- <button
      onclick="downloadPDFButton(`<%= downloadUrl %>`, `<%= donation.receiptNo %>`)"
    >
      Download as PDF
    </button> -->

    <!-- <script>
      async function downloadPDFButton(downloadUrl, receiptNo) {
        console.log(downloadUrl);
        const pdfUrl = `${downloadUrl}=${receiptNo}`; // Replace with your PDF URL
        const anchor = document.createElement("a");
        anchor.href = pdfUrl;
        // Append the anchor to the document, trigger the click, then remove it
        document.body.appendChild(anchor);
        anchor.click();
        document.body.removeChild(anchor);
      }
    </script> -->
  </body>
</html>
